<div fxLayout="row" fxLayoutAlign="space-evenly center"
  style="height: 250px;margin: 0 0 2rem 0; padding: 18px 10px 18px 10px; background-color: yellow;" fxHide.xs>
  <div fxLayout="column" fxFlexFill fxFlex="20" style="background-color: blue;">1</div>
  <div fxLayout="column" fxFlexFill fxFlex="60" style="background-color: green;">2</div>
  <div fxLayout="column" fxFlexFill fxFlex="40" style="background-color: red;">3</div>
</div>

<div fxLayout="column" style="height: 350px;padding: 18px 10px 18px 10px; background-color: orange;" fxHide.xs>
  <div fxLayout="row" fxFlexFill fxFlex="100px" style="background-color: red;">1</div>
  <div fxLayout="row" fxFlexFill fxFlex="100px" style="background-color: green;">2</div>
  <div fxLayout="row" fxFlexFill fxFlex="100px" style="background-color: blue;">3</div>
</div>

<div fxLayout="column" style="height: 350px; margin: 0 0 2rem 0;padding: 18px 10px 18px 10px; background-color: orange;"
  fxHide.gt-xs>
  <div fxLayout="row" fxFlexFill fxFlex="100px" style="background-color: red;">1</div>
  <div fxLayout="row" fxFlexFill fxFlex="100px" style="background-color: green;">2</div>
  <div fxLayout="row" fxFlexFill fxFlex="100px" style="background-color: blue;">3</div>
</div>

<div fxLayout="row" fxLayoutAlign="space-evenly center"
  style="height: 250px; padding: 18px 10px 18px 10px; background-color: yellow;" fxHide.gt-xs>
  <div fxLayout="column" fxFlexFill fxFlex="20" style="background-color: blue;">1</div>
  <div fxLayout="column" fxFlexFill fxFlex="60" style="background-color: green;">2</div>
  <div fxLayout="column" fxFlexFill fxFlex="40" style="background-color: red;">3</div>
</div>